.theteam {
  box-sizing: border-box;
  font-family: "Georgia";
  font-size: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media{
    .column {
        margin-left: 10%;
        width: 20%;
        display: block;
    }
}

.card {
    border-radius: 50%;
}

.container-member {
    padding: 0 16px;
}

.container::after, .row1::after, row2::after {
    content: "";
    clear: both;
    display: table;
}
